<mat-toolbar class="navbar" color="primary">
  <button routerLink="/" mat-raised-button color="accent" class="nav-title">
    Home
  </button>
  <button routerLink="/venues" mat-raised-button color="accent">
    Extreme Places To Marry At
  </button>

  <button
    *ngIf="!loggedInUser"
    routerLink="/login"
    mat-raised-button
    color="accent"
  >
    Login
  </button>
  <button
    *ngIf="loggedInUser"
    (click)="logout()"
    routerLink="/login"
    mat-raised-button
    color="accent"
  >
    Logout
  </button>
</mat-toolbar>
