.venue-container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 300px;
  background-color: #fff;
  position: relative;
  bottom: 3px;
}

.image-container > img {
  width: 400px;
  height: 300px;
}

.venue-title {
  font-size: 1.5rem;
  color: #282d31;
  font-weight: 500;
  margin-bottom: 25px;
}

.to-wedding-button {
  text-decoration: none;
  font-size: 15px;
  padding: 10px 25px;
  cursor: pointer;
  border: 3px solid #1fe8b6;
  color: #fff;
  background-color: #1fe8b6;
  position: relative;
  top: 2rem;
  border-radius: 5px;
}

.to-wedding-button::before,
.to-wedding-button::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: inherit;
  transition: all 0.5s;
}

.to-wedding-button::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}

.to-wedding-button::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}

.to-wedding-button:hover::before,
.to-wedding-button:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

.details-container {
  margin-left: 1rem;
  margin-right: 1rem;
  word-wrap: break-all;
}
