<div class="card-container">
  <img src="../../../assets/wedding.jpg" alt="wedding" />
  <div class="wedding-information">
    <div class="title-button">
      <span class="wedding-title"
        >Rent Villas and Holiday Homes ideal for Weddings</span
      >
      <button
        routerLink="/venues"
        class="to-wedding-button"
        mat-raised-button
        color="accent"
      >
        Excited? See more here
      </button>
    </div>
    <span class="wedding-details"
      >With over 10 years of experience in hospitality, make your choice among a
      wide selection of private luxury villas for a memorable wedding
      experience. Get married in the romantic island of Crete in a private
      holiday home. We offer amazing properties for rent in Chania, Rethymnon,
      Heraklion or Lasithi, along with Five-star concierge services. Book now
      your private venue for your ceremony or your event reception for this
      special day.</span
    >
  </div>
</div>
