<div *ngIf="venue.checkInDate" class="grid-container">
  <div class="booking-details-grid">
    <h2 class="booking-title">Booking Details</h2>
    <p>Property</p>
    <p class="booking-name">{{ venue.name }}</p>
    <div class="flex-date-container">
      <div class="flex-date-item">
        <span>Arrival</span>
        <p class="booking-date">
          {{
            venue.checkInDate.toLocaleString().substring(0, 9).replace(",", "")
          }}
        </p>
      </div>
      <div class="flex-date-item">
        <span>Leaving</span>
        <p class="booking-date">
          {{
            venue.checkOutDate.toLocaleString().substring(0, 9).replace(",", "")
          }}
        </p>
      </div>
      <div class="flex-date-item">
        <span>Guests</span>
        <p class="booking-date">
          {{ venue.numberOfGuests }}
        </p>
      </div>
    </div>

    <h2 class="your-details">Your Details</h2>
    <div class="input-group">
      <div class="input-item">
        <label for="name">Full Name</label>
        <input type="text" id="name" placeholder="I am Batman" />
      </div>
      <div class="input-item">
        <label for="Email">Email</label>
        <input type="email" id="Email" placeholder="batman@gmail.com" />
      </div>
      <div class="input-item">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" placeholder="+36225664236" />
      </div>
      <div class="input-item">
        <label for="name">Address</label>
        <input type="text" id="name" placeholder="Gotham City" />
      </div>
    </div>
    <button
      class="to-wedding-button"
      mat-raised-button
      color="accent"
      style="background-color: #1fe8b6"
    >
      Pay now
    </button>
  </div>
  <div class="payment-details-grid">
    <div class="image-container">
      <img
        style="
          position: relative;
          width: 450px;
          height: 250px;
          border-radius: 15px;
        "
        src="{{ venue.image }}"
        alt="{{ venue.name }}"
      />
    </div>

    <div class="payments">
      <h3 class="paymens-title">Payment Details</h3>
      <p class="payments-due">
        Payment Due now: {{ totalPrice.toFixed(2) }}&euro;
      </p>
      <p class="payments-total">
        Total Payment: {{ totalPrice.toFixed(2) }}&euro;
      </p>
      <p class="payments-info">All payments are in euros</p>
    </div>
  </div>
</div>
